body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    background: black;
}

#bloc_page
{
	/*background-image: url(images/fond53.jpg);*/
	height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    background-color: black;
    	display: flex;
	justify-content: center;
	border-radius: 40px;
  text-decoration: none;
}
h1{

  color:white;
  position: relative;
  font-size:5em;
  top: 200px;
  right:150px;


}
img
{
	width: 500px;
}

