body
{
    background: black;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#log 
{
    display: flex;
    justify-content: flex-start;
}

header img 
{
    width: auto;
    height: 50px;
    margin-left: 20px;

}

header h1 
{
    margin: auto;
    margin-left: 10px;
    font-size: 1em;
    color: white;
}


/* Navigation */
nav ul 
{
    display: flex;
    list-style-type: none;
}

nav li 
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #d6d4d2;
}

section 
{
    color: white;
}

#rock
{
    width: 900px;
    height: 300px;
    background-image: url("images/rock.jpg");
    background-size: 900px auto;
}

#create 
{
    width: 450px;
    border-left: 2px solid black;
    border-right: 3px solid black;
}

#login
{
    width: 450px;
    border-left: 3px solid black;
    border-right: 2px solid black;
}

#ez
{
    position: relative;
    left: 100px;
    top: 50px;
}

#ezi
{
    top: 20px;
    position: relative;
    left: 75px;
}

article label + input
{
    margin-bottom: 10px;
}

article 
{
    display: flex;
    justify-content: space-around;
    margin-top: 1px;
    border-top: 2px solid black;
}

#bouton1
{
    position: relative;
    left: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    background: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 1em;
    box-sizing: content-box;
    border-width: 0px;
}


#bouton1:hover
{
    background-color: #ebe6e7;
    text-decoration: none;
}

#bouton2
{
    position: relative;
    left: 30px;
    margin-top: 50px;
    background: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 1em;
    box-sizing: content-box;
    border-width: 0px;
}

#bouton2:hover
{
    background-color: #ebe6e7;
    text-decoration: none;
}


footer 
{
    display: flex;
    background-color: black;   
}

#yo 
{
    display: flex;
    width: 900px;
    justify-content: center;
    height: 50px;
}

footer h1 
{
    color : white;
    margin-top: 10px;
}

footer ul
{
    margin-top: 10px;
    color: white;
    display: flex;
    list-style-type: none;
}

footer li
{
    margin-right: 30px;
}
