body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    background: black;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#log 
{
    display: flex;
    justify-content: flex-start;
}

header img 
{
    width: auto;
    height: 50px;
    margin-left: 20px;

}

header h1 
{
    margin: auto;
    margin-left: 10px;
    font-size: 1em;
    color: white;
}


/* Navigation */
nav ul 
{
    display: flex;
    list-style-type: none;
}

nav li 
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #d6d4d2;
}

section 
{
    display: flex;
    justify-content: left-start;
    color: white;
}


article 
{
    margin-top: 10px; 
    margin-left: 100px;
    color: white;
    display: flex;
    width: 329px;
    height: 153px;
}

section article table
{
    margin-top: 10px;
}

footer 
{
    display: flex;
    background-color: black;   
}

#yo 
{
    display: flex;
    width: 900px;
    justify-content: center;
    height: 50px;
}

footer h1 
{
    color : white;
    margin-top: 10px;
}

footer ul
{
    margin-top: 10px;
    color: white;
    display: flex;
    list-style-type: none;
}

footer li
{
    margin-right: 30px;
}