body
{
    background: url('images/gris.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

header
{
    background: url('images/separateuro.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img 
{
    width: 400px;
    height: 400px;
}

#titre 
{
    display: flex;
    flex-direction: column;
}

header h1 
{
    margin: auto;
    font-size: 2.8em;
    color: orange;
}


/* Navigation */
nav ul 
{
    display: flex;
    list-style-type: none;
}

nav li 
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: rgb(253, 197, 2);
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: orange;
    border-bottom: 3px solid orange;
}

section 
{
    display: flex;
}
section article
{
    display: flex;
    justify-content: center;
    order : 2;
    width: 600px;

}
section article table td
{
    border-width: 2px;
    border-bottom-style: solid;
    border-color: orange;
}


section aside 
{
    display: flex;
    justify-content: flex-start;
    order : 1;
    flex-direction: column;
    color: orange;
    width: 300px;
    background: url('images/sepajaune.png') repeat-y right;
    background-size: 15px 200px;
}

footer 
{
    display: flex;
    background: url(images/separateurfoo.jpg) repeat-x top;   
}

#yo 
{
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 20px;
}

footer h1 
{
    color : orange;
}

footer ul
{
    display: flex;
    list-style-type: none;
}

footer li
{
    margin-right: 30px;
}