body
{
    background: black;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#log 
{
    display: flex;
    justify-content: flex-start;
}

header img 
{
    width: auto;
    height: 50px;
    margin-left: 20px;

}

header h1 
{
    margin: auto;
    margin-left: 10px;
    font-size: 1em;
    color: white;
}


/* Navigation */
nav ul 
{
    display: flex;
    list-style-type: none;
}

nav li 
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #d6d4d2;
}


section 
{
    display: flex;
    justify-content: center;
    color: white;
    background: url(images/light.jpg);
    background-size: 900px;
}

article
{
    background: rgb(0,0,0,0.5);
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

article label + input 
{
    margin-bottom: 10px;
}

article label + select
{
    margin-bottom: 10px;
}

#bouton 
{
    position: relative;
    left: 55px;
    margin-bottom: 20px;
    background: rgb(255,255,255,0.9);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 1em;
    box-sizing: content-box;
    border-width: 0px;
}

#bouton:hover 
{
    background-color: rgb(255,255,255,0.7);
    text-decoration: none;   
}


footer 
{
    display: flex;
    background-color: black;   
}

#yo 
{
    display: flex;
    width: 900px;
    justify-content: center;
    height: 50px;
}

footer h1 
{
    color : white;
    margin-top: 10px;
}

footer ul
{
    margin-top: 10px;
    color: white;
    display: flex;
    list-style-type: none;
}

footer li
{
    margin-right: 30px;
}
